<nav class="navbar static-top">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "new_logo.png", height: 50, alt: 'cloud album logo'%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="material-symbols-outlined">menu</span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <%= link_to root_path do %>
          <%= image_tag "new_logo.png", height: 50, alt: 'cloud album logo'%>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <% if user_signed_in? == false %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn nav-link" %>
          </li>
        <%end%>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Events", events_path, class: "btn nav-link" %>
          </li>
        <%end%>
        <% if user_signed_in? == false %>
          <li class="nav-item">
            <%= link_to "Create Account", new_user_registration_path, class: "btn nav-link" %>
          </li>
        <%end%>
          <li class="nav-item">
            <%= link_to "About", root_path, class: "btn nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "FAQ", root_path, class: "btn nav-link" %>
          </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: "delete" }, class: "btn nav-link" %>
        </li>
        <%end%>
        </ul>
      </div>
    </div>
  </div>
</nav>
