<div class="event-name">
<h1 style="color: black"><%= link_to @event.event_name, event_path(@event) %> </h1>
</div>


<%= form_with url: event_attachments_path(@event), method: :get, class: "d-flex" do %>
  <%= select_tag "user_selected",
  options_from_collection_for_select(@event.users_with_attachments.uniq, "id", "fullname"), :include_blank => "All"
  %>
  <%= submit_tag "Go", class: "btn btn-filter" %>
<% end %>

<div class="attachment-container">
  <%if @attachments.any? %>
    <% @attachments.each do |attachment| %>
      <% if attachment.posts.length > 1 %>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <% attachment.posts.each_with_index do |post, index| %>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%="#{index}" %>" class="<%= index.zero? ? "active" : nil %>", aria-current="<%= index.zero? ? "true" : nil %>" aria-label="Slide <%="#{index}" %>"></button>
            <% end %>
          </div>
            <div class="carousel-inner">
              <% attachment.posts.each_with_index do |post, index| %>
              <div class="carousel-item <%= index.zero? ? "active" : nil %>">
                <% if post.content_type.include?("image") %>
                  <%= link_to (cl_image_tag post.key, class:"img-event-gallery d-block w-100", crop: :fill), attachment_path(attachment) %>
                <% else %>
                  <%= link_to (cl_video_tag post.key, controls: true, class:"img-event-gallery d-block w-100", crop: :fill), attachment_path(attachment) %>
                <% end %>
              </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
              <% end %>
                 <p><strong><%= attachment.user.fullname %></strong> | <%= attachment.likes.size %> Likes</p>
          </div>
        </div>
      <% else %>
          <% if attachment.posts[0].content_type.include?("image") %>
            <div class="attachment-card">
              <%= link_to (cl_image_tag attachment.posts[0].key, class:"img-event-gallery", crop: :fill), attachment_path(attachment) %>
          <% else %>
              <%= link_to (cl_video_tag attachment.posts[0].key, class:"img-event-gallery", controls: true, crop: :fill), attachment_path(attachment)%>
          <% end %>
            </div>
      <%end %>
      <p><strong><%= attachment.user.fullname %></strong> | <%= attachment.likes.size %> Likes</p>
    <% end %>
  <% end %>
</div>



<%#= link_to  new_event_attachment_path(@event), class: "floating-btn" do %>
    <button type="button" class="floating-btn" data-bs-toggle ="modal" data-bs-target="#exampleModal"><span class="material-icons">add</span></button>
                    <!-- The form -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Upload your media</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <%= simple_form_for [@event, @attachment] do |f| %>
              <%= f.input :posts, as: :file, input_html: { multiple: true } %>
              <%= f.input :caption, placeholder:"Optional" %>
               <div class="text-center">
                <%= f.submit class:"btn btn-secondary" %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss ="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<%# end %>

<% if policy(Attachment).new? %>
  <%= link_to "Back", event_path(@event), class: "btn btn-back" %>
<% end %>
