<p style="color: green"><%= notice %></p>
<% if policy(Attachment).new? %>
  <%= link_to "Back", event_path(@event), class: "btn btn-secondary" %>
<% end %>

<h1><%=@event.event_name %> </h1>


<% @event.attachments.each do |attachment| %>
<%= link_to (cl_image_tag attachment.posts[0].key, width: 400, height: 300, crop: :fill), attachment_path(attachment) %>
<%end %>

<%= link_to  new_event_attachment_path(@event), class: "floating-btn" do %>
<span class="material-icons">add</span>
<% end %>
