<p style="color: green"><%= notice %></p>


<div class="event-name">
<h1><%=@event.event_name %> </h1>
</div>


<%= form_with url: event_attachments_path(@event), method: :get, class: "d-flex" do %>
  <%= select_tag "user_selected", options_from_collection_for_select(@event.users_with_attachments.uniq, "id", "fullname"), :include_blank => 'All'
  %>
  <%= submit_tag "Go", class: "btn btn-filter" %>
<% end %>

<div class="attachment-container">
  <%if @event.attachments.any? %>
    <% @attachments.each do |attachment| %>
    <div class="attachment-card">
      <% attachment.posts.each do |post| %>
        <%= link_to (cl_image_tag post.key, class:"img-event-gallery", crop: :fill), attachment_path(attachment)%>
      <% end %>
      <p><%= attachment.user.first_name %> <%= attachment.user.last_name %> | <%= attachment.likes.size %> Likes</p>
    </div>
    <%end %>
  <% end %>
</div>





<%#= link_to  new_event_attachment_path(@event), class: "floating-btn" do %>
    <button type="button" class="floating-btn" data-bs-toggle ="modal" data-bs-target="#exampleModal"><span class="material-icons">add</span></button>
                    <!-- The form -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Upload your media</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <%= simple_form_for [@event, @attachment] do |f| %>
              <%= f.input :posts, as: :file, input_html: { multiple: true } %>
               <div class="text-center">
                <%= f.submit class:"btn btn-success text-white" %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss ="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<%# end %>

<% if policy(Attachment).new? %>
  <%= link_to "Back", event_path(@event), class: "btn btn-back" %>
<% end %>
