<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/[email protected]/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

<div class="wrapper" data-controller="insert-in-comments-text">
  <div class="left-col">
    <div class="post">
      <div class="info">
          <div class="user">
              <%# <div class="profile-pic"><img src="img/cover 1.png" alt=""></div> %>
              <h5 class="username"> Uploaded by <%= @attachment.user.first_name %>🕺🏻</h5>
          </div>
          <%# <img src="img/option.PNG" class="options" alt=""> %>
      </div>
      <div class="attachment-post">
        <%# ------------- show individual or multi image -----------------    %>
        <% if @attachment.posts.attached? %>
          <% if @attachment.posts.length > 1 %>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% @attachment.posts.each_with_index do |post, index| %>
                  <div class="carousel-item <%= index.zero? ? "active" : nil %>">
                    <% if post.content_type.include?("image") %>
                      <%= cl_image_tag post.key, class:"img-event-gallery d-block w-100", crop: :fill %>
                    <% else %>
                      <%= cl_video_tag post.key, controls: true, class:"img-event-gallery d-block w-100", crop: :fill %>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                  </button>
                <% end %>
              </div>
            </div>
          <% else %>
            <% if @attachment.posts[0].content_type.include?("image") %>
              <%= cl_image_tag @attachment.posts[0].key, class:"img-event-gallery", crop: :fill %>
            <% else %>
              <%= cl_video_tag @attachment.posts[0].key, controls: true, crop: :fill %>
            <% end %>
          <% end %>
        <% else %>
          <h3>Upload your images by clicking on the plus sign</h3>
        <% end %>
        <%# --------------------------------------------------------------------------- %>
      </div>

      <%# compter tous les likes pour cette attachment %>
      <%# Like.where(attachment_id: @attachment.id).count %>
      <%# show red heart if user already liked attachment %>
      <%# - appliquer une classe css particuliere  %>
      <%# check if current user %>
      <%#  %>
      <div class="post-content">
        <div class = "likes-icon d-flex justify-content-start" >
          <p class="likes"><%= @attachment.likes.size %> Likes</p>
            <% like = current_user.likes.find_by(attachment: @attachment) %>
          <% if current_user %>
            <% if like.nil? %>
              <%= link_to  attachment_likes_path(@attachment), data: {turbo_method: :post}, class:"likes-icons" do %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            <% else %>

              <%= link_to like_path(like), data: {turbo_method: :delete}, class:"likes-icons" do %>
                <i class="fa-solid fa-heart"></i>
              <% end %>
            <% end %>
          <% else %>
            <%# signup %>
              <%= link_to attachment_likes_path(@attachment), data: {turbo_method: :post},
                class:"likes-icons" do %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
          <% end %>






        </div>
        <div class = "comments-text" data-insert-in-comments-text-target="comments">
          <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur?</p>
          <p class="post-time">2 minutes ago</p>
          <% if @attachment.comments.any? %>
            <% @attachment.comments.each do |comment| %>

              <%= render "comments/comment", attachment: @attachment, comment: comment %>

            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if policy(@comment).create? %>
    <div class="comment-box">
      <%= simple_form_for([@attachment, @comment],
        data: {insert_in_comments_text_target: "form", action: "submit->insert-in-comments-text#send"}) do |f|%>
        <div class="position-relative">
          <%= f.text_area :content, placeholder: "Add a comment...", class: "comment-input" %>
          <%= button_tag type: :submit, class: "comment-btn" do %>
            <%#= f.submit "Post", class:"comment-btn" do %>
            <i class="fa-regular fa-paper-plane"></i>
          <% end %>
          <!-- [...] -->
        </div>
      <% end %>
    </div>
  <% end %>
</div>
