

<div class="wrapper" data-controller="insert-in-comments-text">
    <div class="left-col">
        <div class="post">
            <div class="info">
                <div class="user">
                    <%# <div class="profile-pic"><img src="img/cover 1.png" alt=""></div> %>
                    <h6 class="username"> Added by <%= @attachment.user.fullname %></h6>
                </div>
                <%# <img src="img/option.PNG" class="options" alt=""> %>
            </div>
            <div class="attachment-post">
              <% if @attachment.posts.attached? %>
                <% if @attachment.posts.length > 1 %>
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                      <% @attachment.posts.each_with_index do |post, index| %>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%="#{index}" %>" class="<%= index.zero? ? "active" : nil %>", aria-current="<%= index.zero? ? "true" : nil %>" aria-label="Slide <%="#{index}" %>"></button>
                      <% end %>
                    </div>

                    <div class="carousel-inner">
                      <% @attachment.posts.each_with_index do |post, index| %>
                        <div class="carousel-item <%= index.zero? ? "active" : nil %>">
                          <% if post.content_type.include?("image") %>
                            <%= cl_image_tag post.key, class:"img-event-gallery d-block w-100", crop: :fill %>
                          <% else %>
                            <%= cl_video_tag post.key, controls: true, class:"img-event-gallery d-block w-100", crop: :fill %>
                          <% end %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <% if @attachment.posts[0].content_type.include?("image") %>
                    <%= cl_image_tag @attachment.posts[0].key, class:"img-event-gallery", crop: :fill %>
                  <% else %>
                    <%= cl_video_tag @attachment.posts[0].key, controls: true, class:"img-event-gallery", crop: :fill%>
                  <% end %>
                <% end %>
              <% else %>
                <h3>Upload your images by clicking on the plus sign</h3>
              <% end %>
            </div>
            <%# compter tous les likes pour cette attachment %>
            <%# Like.where(attachment_id: @attachment.id).count %>
            <%# show red heart if user already liked attachment %>
            <%# - appliquer une classe css particuliere  %>
            <%# check if current user %>
            <%#  %>
            <div class="post-content">
              <div class="like-and-delete-and-favorite d-flex justify-content-between">
                <div class = "likes-icon d-flex justify-content-start" >
                  <div class="likes-icon-number">
                    <p class="likes"><%= pluralize(@attachment.likes.count, "Like") %>
                      <% like = current_user.likes.find_by(attachment: @attachment) %>
                    <% if current_user %>
                      <% if like.nil? %>
                        <%= link_to  attachment_likes_path(@attachment), data: {turbo_method: :post}, class:"likes-icons" do %>
                          <i class="fa-regular fa-heart"></i>
                        <% end %>
                      <% else %>

                        <%= link_to like_path(like), data: {turbo_method: :delete}, class:"likes-icons" do %>
                          <i class="fa-solid fa-heart"></i>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%# signup %>
                        <%= link_to attachment_likes_path(@attachment), data: {turbo_method: :post},
                          class:"likes-icons" do %>
                          <i class="fa-regular fa-heart"></i>
                        <% end %>
                    <% end %>
                  </div>
                  <div class="favorite-icon">
                  <% favorite = current_user.favorites.find_by(attachment: @attachment) %>
                  <% if current_user %>
                    <% if favorite.nil? %>
                      <%= link_to  attachment_favorites_path(@attachment), data: {turbo_method: :post}, class:"favorites-icons" do %>
                        <i class="fa-regular fa-bookmark"></i>
                      <% end %>
                    <% else %>

                      <%= link_to favorite_path(favorite), data: {turbo_method: :delete}, class:"favorites-icons" do %>
                        <i class="fa-solid fa-bookmark"></i>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%# signup %>
                      <%= link_to attachment_favorites_path(@attachment), data: {turbo_method: :post},
                        class:"favorites-icons" do %>
                        <i class="fa-regular fa-bookmark"></i>
                      <% end %>
                  <% end %>
                  </div>
                </div>
                <% if policy(@attachment).destroy? %>
                  <%= link_to  event_attachment_path(@attachment.event, @attachment) , data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},class:"trash-comment-icon" do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                <% end %>
              </div>


              </div>
              <div class = "comments-text" data-insert-in-comments-text-target="comments">
                <p class="description"><%= @attachment.caption%></p>
                <p class="post-time"><%= @attachment.created_at.strftime("%d %b %Y") %></p>
                <% if @attachment.comments.any? %>
                  <% @attachment.comments.each do |comment| %>

                    <%= render "comments/comment", attachment: @attachment, comment: comment %>

                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
    </div>




  <div>
    <div>
      <!-- [...] -->
    </div>
    <% if policy(@comment).create? %>
    <div class="cover-layer" style="height: 60px;"></div>
    <div class="comment-box">
      <%= simple_form_for([@attachment, @comment],
        data: {insert_in_comments_text_target: "form", action: "submit->insert-in-comments-text#send"}) do |f|%>

        <div class="position-relative">
          <%= f.text_area :content, placeholder: "Add a comment...", class: "comment-input" %>
          <%= button_tag type: :submit, class: "comment-btn" do %>
          <%#= f.submit "Post", class:"comment-btn" do %>
              <i class="fa-regular fa-paper-plane"></i>
            <% end %>
          <!-- [...] -->
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
