<div class="title">
<h2>My Events</h2>
</div>
  <div class="index-container text-center">
    <div class="row m-0">
        <div class="event-index-container">
          <% @events.each do |event| %>
            <%= link_to event_path(event), class: "text-decoration-none" do %>
              <div class="event-card">

                <% if event.banner.present? %>
                  <%= cl_image_tag event.banner.key, width: 400, crop: :fill, class: "card-img-top" %>

                <% else %>
                # put default image
                <%end%>
                <div class="card-content">
                  <h4><%= event.event_name %></h4>
                  <div class="event_date_and_location">
                    <p><%=event.event_date%></p>
                    <div class = "event-location">
                      <p><i class="fa-solid fa-location-dot"></i> <%= event.location %></p>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>

          <% end %>
        </div>

    </div>
  </div>
