<div class="container bg-white justify-content-center pt-3 pb-3">
  <div class="row">
    <div class="col">
      <% if user_signed_in? %>
        <%= simple_form_for @event, data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :event_name, label: false, placeholder: "Event name"%>
          <%= f.input :event_date, label: false, placeholder: "Date", as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
          <%= f.input :event_description, label: false, placeholder: "Description" %>
          <%= f.input :location, label: false, placeholder: "Location" %>
          <%= f.input :banner, as: :file %>
          <%= f.association :guests, collection: User.all, input_html: { multiple: true }, label_method: lambda { |user| "#{user.first_name} #{user.last_name}" }, label_value: :id %>
          <div class="text-center">
            <%= f.submit class:"btn btn-success btn-booking-event text-white mt-3" %>
          </div>
        <% end %>
      <% else %>
        <p>Sorry, you must be signed in to access the event page.</p>
      <% end %>
    </div>
  </div>
</div>
