
<div class="event-show-container">
    <div class="edit-button"><% if policy(@event).edit? %>
        <%= link_to edit_event_path(@event) do %>
          <i class="fa-solid fa-pen-to-square"></i>
         <% end %>
    <% end %>
    </div>
    <div class="event-show-content">
      <h2><%= @event.event_name %></h2>
        <% if @event.banner.present? %>
          <% if @event.banner.content_type.include?("image") %>
            <%= link_to (cl_image_tag @event.banner.key, class:"event-banner", crop: :fill) %>
          <% else %>
            <%= link_to (cl_video_tag @event.banner.key, class:"event-banner", crop: :fill) %>
          <% end %>
        <%end%>
      <div class="event-description-and-location">
        <div class="event-description">
        <p><%= @event.event_description %></p>
        </div>
        <div class = "event-location">
        <p><i class="fa-solid fa-location-dot"></i> <%= @event.location%></p>
        </div>

      </div>
    </div>
    <div class="event-show-buttons d-grid gap-2">
    <%= link_to "View Gallery", event_attachments_path(@event), class: "btn btn-primary" %>
    <% if policy(Attachment).new? %>
      <%#= link_to "Upload Media", new_event_attachment_path(@event), class: "btn btn-secondary" %>
      <%#= link_to  new_event_attachment_path(@event), class: "floating-btn" do %>
        <button type="button" class="btn btn-secondary" data-bs-toggle ="modal" data-bs-target="#exampleModal">Upload Media</button>
                        <!-- The form -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Upload your media</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <%= simple_form_for [@event, @attachment] do |f| %>
                  <%= f.input :posts, as: :file, input_html: { multiple: true } %>
                  <div class="text-center">
                    <%= f.submit class:"btn btn-success upload-media-event-btn text-white" %>
                  </div>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss ="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <%end %>
    <div class="event-admin-buttons d-flex align-items-end justify-content-around">
    <div class="edit-button"><% if policy(@event).edit? %>
      <%= link_to edit_event_path(@event) do %>
        <span class="material-symbols-outlined">edit_square</span>
      <% end %>
      <% end %>
    </div>
    <div class="qr-button">
      <button class="qr-toggle" data-action="click->qrcode#toggle"><span class="material-symbols-outlined">qr_code_2</span>
      </button>
    </div>
  </div>
  <div class="qr-code d-none" data-qrcode-target="qr">
    <%= @svg.html_safe %>
  </div>
